@model MerchantPortal.Data.Models.Country

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Country</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumCountryCode" class="control-label"></label>
                <input asp-for="NumCountryCode" class="form-control" />
                <span asp-validation-for="NumCountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrCountryName" class="control-label"></label>
                <input asp-for="StrCountryName" class="form-control" />
                <span asp-validation-for="StrCountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrRemarks" class="control-label"></label>
                <input asp-for="StrRemarks" class="form-control" />
                <span asp-validation-for="StrRemarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISOCode" class="control-label"></label>
                <input asp-for="ISOCode" class="form-control" />
                <span asp-validation-for="ISOCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="BlackListed" /> @Html.DisplayNameFor(model => model.BlackListed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StrISOAlpha3" class="control-label"></label>
                <input asp-for="StrISOAlpha3" class="form-control" />
                <span asp-validation-for="StrISOAlpha3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumISO" class="control-label"></label>
                <input asp-for="NumISO" class="form-control" />
                <span asp-validation-for="NumISO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

