@model IEnumerable<MerchantPortal.Data.Models.ApplicationUser>
    @{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="row">
        <div class="col-xs-12">
            <div class="table-header">
                User List
            </div>
            <table id="dtTable" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#dtTable").DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once

                    "ajax": {
                        "url": "/Account/GetUserList",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "firstName", "name": "FirstName", "autoWidth": true },
                        { "data": "lastName", "name": "LastName", "autoWidth": true },
                        { "data": "userName", "name": "UserName", "autoWidth": true },
                        { "data": "email", "name": "Email", "autoWidth": true },    
                        {
                            "render": function (data, type, full, meta) {
                                if (full.isActive == false) {
                                    return '<a href="/Account/UserEdit/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span ></a> <a href="/Account/UserDelete/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Delete"><span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span ></a> <a href="/Account/UserDetails/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Details"><span class="blue"><i class="ace-icon fa fa-list bigger-110"></i></span ></a> <a href="/Account/UserActive/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Active"><span class="green"><i class="ace-icon fa fa-toggle-on bigger-120"></i></span ></a>'
                                } else {
                                    return '<a href="/Account/UserEdit/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span ></a> <a href="/Account/UserDelete/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Delete"><span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span ></a> <a href="/Account/UserDetails/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Details"><span class="blue"><i class="ace-icon fa fa-list bigger-110"></i></span ></a> <a href="/Account/UserActive/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Block"><span class="red"><i class="ace-icon fa fa-toggle-off bigger-120"></i></span ></a>'
                                }
                            }
                        }
                    ]
                });
            });
        </script>
    }

