@model MerchantPortal.Data.Models.ApprovalViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Approval request</h3>

    </div>

</div>