@model MerchantPortal.Models.ApplicationRoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="panel panel-info">
        <div class="panel-heading"><b>Role Create</b></div>
        <div class="panel-body">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-2"></label>
                    <div class="col-md-5">
                        <input asp-for="Name" class="form-control" disabled/>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
</form>

